{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block navbar_signup %}
  <li class="active"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
{% endblock %}

{% block content %}
  <div class = "row">
    <div class="col-md-6">
      <h4>Sign Up</h4>
        <form class="form-horizontal" role="form" method="post">
          <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username</label>
            <div class="col-sm-6">
              <input class="form-control" type="text" id="username" name="username" value="{{ username }}">
            </div>
            <div class="col-sm-4 error_message">{{ name_error }}</div>
          </div> <!--/.form-group-->
          <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password</label>
            <div class="col-sm-6">
              <input class="form-control" type="password" id="password" name="password">
            </div>
            <div class="col-sm-4 error_message">{{ pwd_error }}</div>
          </div> <!--/.form-group-->
          <div class="form-group">
            <label class="control-label col-sm-2" for="repeat_password">Repeat pwd</label>
            <div class="col-sm-6">
              <input class="form-control" type="password" id="repeat_password" name="repeat_password">
            </div>
          </div> <!--/.form-group-->
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email</label>
            <div class="col-sm-6">
              <input class="form-control" type="text" id="email" name="email" value="{{ email }}">
            </div>
            <div class="col-sm-4 error_message">{{ email_error }}</div>
          </div> <!--/.form-group-->

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <input type="submit" class="btn btn-default" name="user_action" value="submit">
            </div>
          </div> <!--./form-group-->
        </form>
    </div> <!--col-md-6-->
  </div>
{% endblock %}